[Desktop Entry]
Name=LLEGEIX-ME
Type=Application
Exec=firefox http://canigo.ctti.gencat.cat/canigo/entorn-desenvolupament/
#Icon=text-html
Icon=/home/canigo/Pictures/favicon.ico
