[Desktop Entry]
Name=Spring Tool Suite 4 (Eclipse)
Type=Application
Exec=/opt/sts-4.1.2.RELEASE/SpringToolSuite4
Icon=/opt/sts-4.1.2.RELEASE/icon.xpm
NoDisplay=false
Categories=Development;IDE;
