[Desktop Entry]
Version=1.0
Name=Jenkins SIC
Type=Link
URL=http://hudson.intranet.gencat.cat/hudson/
#Icon=text-html
Icon=/home/canigo/Pictures/favicon.ico
