[Desktop Entry]
Version=1.0
Name=Jenkins SIC
Type=Link
URL=https://icdc.sic.intranet.gencat.cat/
#Icon=text-html
Icon=/home/canigo/Pictures/favicon.ico
