[Desktop Entry]
Name=CSTD. Suport al desenvolupament
Type=Application
Exec=firefox https://cstd.ctti.gencat.cat/jiracstd
#Icon=text-html
Icon=/home/canigo/Pictures/favicon.ico
