[Desktop Entry]
Version=1.0
Name=Web Canigó
Type=Application
Exec=firefox http://canigo.ctti.gencat.cat
#Icon=text-html
Icon=/home/canigo/Pictures/favicon.ico
